* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #F55B64;
    --cor-secundaria: #C2373F;
    --neutro: #F9F9F9;
    --preto: #131730;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: 'Numans', sans-serif;
    --cor-background: #1E2A78;
}

body {
    background: var(--cor-background);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100px;
}

main {
    background-color: var(--neutro);
    margin-top: 64px;
    margin-bottom: 64px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 440px;
    padding: 56px;

    align-items: center;
    border-radius: 16px;
}

h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

hr {
    border: none;
    border-bottom: 3px dotted var(--cor-primaria);
    margin-bottom: 24px;
}

.hr-total {
    margin-bottom: 0px !important;
}

p {
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.input-item {
    display: block;
    padding: 12px 16px;
    border-radius: 24px;
    border: 1px solid var(--preto);
    width: 307px;

    font-family: var(--fonte-texto);
}

.input-item::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.button-item {
    padding: 12px 16px;
    border-radius: 24px;
    background-color: var(--cor-primaria);
    color: var(--neutro);
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.lista-item-product {
    display: flex;
    gap: 8px;
}

.lista-item {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.lista-item-price-span {
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
    font-size: 12px;
}

.lista-item-price {
    width: 20%;
}

ul {
    list-style-type: none;
    overflow-y: auto;
    max-height: 150px;
}

.input-checkbox {
    display: none;
}

.checkbox-customizado {
    width: 20px;
    height: 20px;
    background-color: var(--neutro);
    border: 1px solid var(--preto);
    cursor: pointer;
    border-radius: 4px;
}

.checked {
    background-color: var(--preto);
    position: relative;
}

.checkbox-customizado.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    top: -10%;
    width: 5px;
    height: 14px;

    border-top: 2px solid var(--neutro);
    border-left: 2px solid var(--neutro);

    transform: rotate(-140deg);
}

.texto-data {
    font-size: 12px;
    line-height: 20px;
}

.item-lista-button {
    border: none;
    background-color: transparent;
}

.container-lista {
    width: 100%;
}

.container-total {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-confirmar {
    background: #4CAF50;
    color: white;
}

.btn-cancelar {
    background: #f44336;
    color: white;
}

#clear-item[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

ul#lista-de-compras::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
}

ul#lista-de-compras::-webkit-scrollbar-thumb {
    background-color: var(--cor-primaria);
    /* Cor do "polegar" da barra */
    border-radius: 4px;
    /* Deixa a barra mais estilizada */
}

ul#lista-de-compras::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor-secundaria);
    /* Cor do "polegar" ao passar o mouse */
}